<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeangalMessenger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

    <%- include("partials/navbar") -%>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="card-titel mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="pageHeading mt-1">
                                    <h1>Chats</h1>
                                </div>

                                <form class="actionBtn mt-1" action="/createChannel" method="get">
                                    <div class="addBtn position-sticky" style="margin-left: 350px;">
                                        <input type="submit" name="" value="Create Channel">
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="card-content">

                            <% textChannels.slice().forEach(function (channel){%>

                            <div class="card" id="contentCard" style="margin-top: 10px">
                                <div class="card-body">
                                    <form class="actionBtn" action="/openChat" method="post">
                                        <h3 class="card-title text-center"><%= channel.name%></h3>
                                        <div style="margin-left: 225px;margin-top:15px">
                                            <input type="hidden" name="chatWith" value="<%= channel.name%>">
                                            <input type="submit" name="" value="Open Channel">
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <% })%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script>
        function openNav() {
            document.getElementById("navbar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("navbar").style.width = "0";
        }

        const swal = require("sweetalert2");

        if ("<%=error%>" !== "false") {
            swal.fire({
                title: 'What happened?',
                text: "<%= errorMessage%>",
                icon: "<%= error%>",
                iconColor: '#4ecca3',
                confirmButtonColor: '#4ecca3',
                allowOutsideClick: false
            })
        }
    </script>

</body>
</html>